<h1>Welcome to Game Center, let's play!</h1>
<h3>Total Score: <%= current_user.total_score %></h3>
<% @games.each do |game| %>
  <%= render game %>
<% end %>

<h3>Achievements</h3>
<div>Achievements: <%= @users_achievements.count %></div>
<% @users_achievements.each do |users_achievement| %>
  <div><%= users_achievement.achievement.name.capitalize %></div>
<% end %>
